<% include ../partials/header %>
<br>
 <h3 >User Information</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Password</th>
            <th>Edit</th>
            <th>Delete</th>
             <th><a name="" id="" class="btn btn-primary" href="/insertusers" role="button">Add New</a></th>
        </tr>
    </thead>
    <tbody>
       <% users.forEach(function(users){ %> 
       <tr>
            <td scope="row"><%= users.id%></td>
            <td><%=  users.email%></td>
            <td><%=  users.password%></td>
            <td><a name="" id="" class="btn btn-danger" href="/users/<%= users.id%>" role="button">Edit</a></td>
              <td><a name="" id="" class="btn btn-danger" href="/users/<%= users.id%>" role="button">Delete</a></td>
        </tr>
         <% }); %>
</tbody>
 
    
</table>
 <% include ../partials/footer %>