<% include ../partials/header %>
<div class="container">
    <h3 >User Information</h3>
       <input class="form-control" id="myInput" type="text" placeholder="Search..">
       <br>

<table class="table">
    <thead>
        <tr>
            <th>users_id</th>
            <th>Email</th>
            <th>Password</th>
            <th>Edit</th>
            <th>Delete</th>
             <th><a name="" id="" class="btn btn-primary" href="/insertusers" role="button">Add New</a></th>
        </tr>
    </thead>
    <tbody id="myusertable">
       <% users.forEach(function(users){ %> 
       <tr>
            <td scope="row"><%= users.users_id%></td>
            <td><%=  users.email%></td>
            <td><%=  users.password%></td>
            <td><a name="" id="" class="btn btn-danger" href="/users/<%= users.users_id%>" role="button">Edit</a></td>
              <td><a name="" id="" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger" href="/users_delete/<%= users.users_id%>" role="button">Delete</a></td>
        </tr>
         <% }); %>
</tbody>
 
    
</table>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myusertable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>

    <script>
  function confirmDelete(delUrl) {
  if (confirm("Are you sure you want to delete")) {
    document.location = delUrl;
  }
}
</script>
    </script>
    
    </div>
 <% include ../partials/footer %>